# Build and Release Folders
bin/
bin-debug/
bin-release/

# Ignore images and txt while testing
scan/*.jpg
scan/*.txt
images/

.DS_STORE
static/.DS_STORE
templates/.DS_STORE

*.pyc

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
