#add_friends_button {
  background-color: #7edeb1;
  color: white;
  display: block;
  margin: 0 auto;
  width: 40%;
}

#add_friends_button:hover {
  background-color: white;
  border-color: #7edeb1;
  color: #7edeb1;
  display: block;
  margin: 0 auto;
}

.close:hover {
  color: #7EDEB1;
}

.modal-content .modal-title,
.modal-content .text-center {
  color: #000;
  opacity: .5;
}

.friend_add_icon {
  display: none;
}