html,body {
  background-color: #7edeb1;
  height: 100%;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  width: 100%
}

.content_container {
  position: relative;
  margin: auto;
  padding: 15px 0;
}

/* -------------- Landing page -------------- */
h1.page-header {
  border: none;
  height: 300px;
  line-height: 300px;
  vertical-align: middle;
}

.main-content {
  height: 100%;
  text-align: center;
}

#start-buttons {
  padding: 0 20%;
}

  #start-tab {
    text-decoration: none;
    color: #7edeb1;
  }

/* -------------- New Tab -------------- */
#new-tab-container {
  margin: 0 auto;
  text-align: center;
}

  #new_tab_name {
    background-color: white;
    color: #7EDEB1;
    display: inline-block;
    font-size: 2.1em;
    margin: 0 auto;
    padding-bottom: 3%;
    width: 100%;
  }

  /* -------------- Camera button -------------- */
  #camera-container {
    background-color: #7EDEB1;
    border: 1px solid white;
    border-radius: 4px;
    cursor: hand;
    cursor: pointer;
    height: 220px;
    margin: 5% auto;
    position: relative;
    width: 80%;
  }

    #show-picture {
      height: 100%;
      width: 100%;
      opacity: .4;
      overflow: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0;
    }

    #camera {
      background-color: white;
      border: 0px;
      border-radius: 50%;
      display: inline-block;
      margin-top: 45px;
      max-width: 150px;
      position: relative;
      width: 40%;
      z-index: 1;
    }

    #take-picture {
      display: none;
    }

  /* -------------- New Tab Buttons -------------- */

  #open_add_friends {
    margin: 0 auto;
    width: 100%;
  }

  .create_tab_button {
    margin: 5% auto;
    width: 50%;
  }
