<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/assets/ico/favicon.png">

    <title> Okra | Split that check</title>

    <!-- Bootstrap core CSS -->
    <link href="static/assets/css/bootstrap.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/assets/img/okra-temp.png" type="image/x-icon" />

    <!-- Custom styles for this template -->
    <link href="static/assets/css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="static/assets/css/font-awesome.min.css">

    <script src="static/assets/js/jquery.min.js"></script>
	<script src="static/assets/js/Chart.js"></script>
	<script src="static/assets/js/modernizr.custom.js"></script>



    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="static/assets/js/html5shiv.js"></script>
      <script src="static/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu">

	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="index.html#home">OKRA</a></h1>
			<i class="icon-remove menu-close"></i>
			<a href="/">Log In</a>
			<a href="#tech" class="smoothScroll">Core Technologies</a>
			<a href="#team" class="smoothScroll">Team</a>
			<a href="#contact" class="smoothScroll">Contact</a>
			<a href="#"><i class="icon-facebook"></i></a>
			<a href="#"><i class="icon-twitter"></i></a>
			<a href="#"><i class="icon-dribbble"></i></a>
			<a href="#"><i class="icon-envelope"></i></a>
		</div>

		<!-- Menu button -->
		<div id="menuToggle"><i class="icon-reorder"></i></div>
	</nav>



	<!-- ========== HEADER SECTION ========== -->
	<section id="home" name="home"></section>
	<div id="headerwrap">
		<div class="container">
			<br>
			<h1>Okra</h1>
				<h2>Take a picture, we split your check.</h2>
<!-- 			<h2>Check splitting without the hassle</h2>
 -->			<div class="row">
				<br>
				<br>
				<br>
				<div class="col-lg-6 col-lg-offset-3">
				</div>
			</div>

		</div><!-- /container -->
    <button type="button" class="btn btn-lg btn-success">Sign Up</button>
    <br>
		<button id='venmo' type="button" class="btn btn-lg btn-primary"><a href='/login'>Sign In with Venmo</a></button>

	</div><!-- /headerwrap -->


	<!-- ========== WHITE SECTION ========== -->
	<div id="w">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
				<h3> <bold>Okra</bold> streamlines the entire experience of dividing up a tab between your friends. Simply snap a pick of your check, claim your items, and your funds are sent to a friend who pays in full.
				</h3><br>
				<!-- <img src="static/assets/img/okra-temp.png" height="200" width="200"> -->
				<br>
				</div>
			</div>
		</div><!-- /container -->
<!-- 		<div id = "cloud"><span class='shadow'></span></div>
 -->
	</div><!-- /w -->


	<!-- ========== Core Technologies Used ========== -->
	<section id="tech" name="tech"></section>
	<div id="g">
		<div class="team container">
			<div class="row">
				<h3>CORE TECHNOLOGIES</h3>
				<br>
				<br>
				<div class="col-lg-3">
					<img src="static/assets/img/s1.png">
					<h4>OCR</h4>
					<h5>Tesseract optical character recogniton combined with an intelligent post processor interpret an itemized check with unprecedented accuracy<h5>
				</div>
				<div class="col-lg-3">
					<img src="static/assets/img/s2.png">
					<h4>Payments</h4>
					<h5>Payments made fast and easy with Venmo and other online payment gateways<h5>
				</div>
				<div class="col-lg-3">
					<img src="static/assets/img/s3.png">
					<h4>Flask</h4>
					<h5>Simple, fast, and flexible -- now available on HTTP<h5>
				</div>
				<div class="col-lg-3">
					<img src="static/assets/img/s4.png">
					<h4>UX</h4>
					<h5>JQuery, Bootstrap, and a focus on simplicity</h5>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /g -->

	<!-- ========== Developers ========== -->
	<section id="team" name="team"></section>
	<div id="g">
		<div class="team container">
			<div class="row">
				<h3>TEAM</h3>
				<br>
				<br>
				<div class="col-lg-3">
					<img class="img-circular" src="static/assets/img/steve.jpg">
					<h4>Steven</h4>
					<h5></h5>
				</div>
				<div class="col-lg-3">
					<img class="img-circular" src="static/assets/img/jaime.jpg">
					<h4>Jaime</h4>
					<h5></h5>
				</div>
				<div class="col-lg-3">
					<img class="img-circular" src="static/assets/img/vinay.jpg">
					<h4>Vinay</h4>
					<h5></h5>
				</div>
				<div class="col-lg-3">
					<img class="img-circular" src="static/assets/img/mike.jpg">
					<h4>Mike</h4>
					<h5></h5>
				</div>
				<div class="col-lg-3">
					<img class="img-circular" src="static/assets/img/dan.jpg">
					<h4>Dan</h4>
					<h5></h5>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /g -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="static/assets/js/classie.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>
    <script src="static/assets/js/smoothscroll.js"></script>
	<script src="static/assets/js/main.js"></script>
</body>
</html>
