<!DOCTYPE html>

{% raw %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/tab.css">
  <link rel="stylesheet" type="text/css" href="../static/css/new_tab.css">

  <link rel="import" href="../templates/new_tab.html">
</head>

<body>
	<div class="container-fluid">
		<div class="content_panel">

      <div id="page_title_view">
        <div class="header content_container text-center">
          <div id="title" class="title"></div>
          <div class="border_line_white"></div>
          <div class="sub_title">Tab</div>
        </div>

        <div class="row content_container">
          <div class="col-xs-10 col_centered">
            <div class="friend_group">
              <table class="col_centered">
                <tbody>
                  <tr class="friend_group_row">
                    <td class="button_cell">
                      <button id="tab_open_add_friends" class="btn btn-primary pull-right">+</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="button_cell pulld-left">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- View for editting the tab -->

      <div id="tab_view">
        <div class="content_container">
          <ul class="item_list list-group"></ul>
        </div>

        <div class="border_line_white content_container"></div>

        <div class="row content_container">
          <div class="text-center">Tab info:</div>
        </div>

        <div class="costs_panel padded_panel"> 
          <div class="row content_container">
            <div class="col-xs-2 col-xs-offset-2 text-right inline_element">Sub Total:</div>
            <div id="subtotal" class="col-xs-8"></div>
          </div>
          <div class="border_line_lime content_container"></div>

          <div class="row content_container">
            <div class="col-xs-2 col-xs-offset-2 text-right inline_element">Tax:</div>
            <div id="tax" class="col-xs-8"></div>
          </div>
          <div class="border_line_lime content_container"></div>

          <div class="row content_container col_centered">
            <div class="col-xs-2 text-right inline_element">Tip:</div>
            <div class="col-xs-4">
              <form class="form-inline inline_element pull-right" role="form">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="text" class="form-control" id="tip_input" placeholder="Tip">
                  </div>
                </div>
              </form>
            </div>
            <div class="col-xs-6">
              <button class="tip_button btn btn-primary" data-percentage="0.15">15%</button>
              <button class="tip_button btn btn-primary" data-percentage="0.18">18%</button>
              <button class="tip_button btn btn-primary" data-percentage="0.20">20%</button>
            </div>
          </div>
          <div class="border_line_lime content_container"></div>

          <div class="row">
            <div class="col-xs-2 col-xs-offset-2 text-right inline_element">Total:</div>
            <div id="total" class="col-xs-8"></div>
          </div>
        </div>

        <div class="user_pay_amt_panel padded_panel">
          <div class="row">
            <div class="col-xs-2 col-xs-offset-2 text-right inline_element">You Pay:</div>
            <div id="user_pay_amt" class="col-xs-8"></div>
          </div>
        </div>

        <div class="footer">
          <div class="content_container pull-right">
            <button id="finish_button" class="btn btn-primary">Finish and Pay ></button>
          </div>
          <div class="content_container pull-left">
            <button id="back_button" class="btn btn-primary">< Back</button>
          </div>
        </div>
      </div>

      <!-- View for viewing payments -->

      <div id="pay_view" class="content_panel">
        <div class="row content_container">
          <div class="payment_progress_wrapper col_centered">
            <div id="payment_progress_chart"></div>
            <div id="payment_rem_block">
              <div id="payment_rem_label">Remaining</div>
              <div id="payment_rem_amt"></div>
              <div id="payment_rem_tot"></div>
            </div>
          </div>
          <!-- <input type="text" val="75" class="payment_progress_chart"/> -->
          <div class="content_container col_centered text-center">
            <div>You owe $<span id="payment_amount"></span></div>
          </div>
          <div class="content_container col_centered text-center">
            <button id="make_payment_button" class="btn btn-primary">Make Payment</button>
          </div>

          <div class="content_container">
            <ul class="paid_user_list list-group"></ul>
          </div>
        </div>

        <div class="footer">
          <div class="content_container pull-left">
            <button id="back_button" class="btn btn-primary">< Back</button>
          </div>
        </div>
      </div>

    <!-- View for creating a new tab -->

    <div id="new_tab_view" class="content_panel">
      <section id='new-tab-container'>
        <h1 id='new_tab_name'></h1>
        <div><!-- user name here --></div>

        <!-- OCR button -->
        <div id='camera-container'>
          <img id='camera' src='../static/img/camera.svg'>
          <form action="/upload" id='uploadform' method="post" enctype="multipart/form-data">
            <input type='file' name='file' id='take-picture' accept='image/*;capture=camera'>
          </form>
        </div>
        <img src="" alt="" id="show-picture">

        <!-- Friends in tab -->
        <table class="friend_group content_container">
          <tbody>
            <tr class="friend_group_row">
              <td class="button_cell">
                <button id="open_add_friends" class="btn btn-block btn-primary">Add Friends</button>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Create Tab button -->
        <button type='button' id='js-create-tab' class='btn btn-block btn-lg create_tab_button'>Create Tab</button>
      </section>
    </div>

		</div>
  </div>

  <!-- Add Friends to tab modal -->
  <div class="modal fade" id="js-add-friends-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Add a Friend to the Tab</h4>
        </div>
        <div id='add_friends_body' class="modal-body"></div>
        <div class="modal-footer">
          <button id='add_friends_button' type="button" class="btn btn-default" data-dismiss="modal">Confirm</button>
        </div>
      </div>
      <div class="alert alert-success" role="alert" hidden></div>
    </div>
  </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/handlebars-v1.3.0.js"></script>
<script type="text/javascript" src="../static/js/jquery.knob.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>

<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/tab.js"></script>
<script type="text/javascript" src="../static/js/new_tab.js"></script>
<script type="text/javascript" src="../static/js/add_friend.js"></script>
<script src='http://malsup.github.com/min/jquery.form.min.js'></script>
</body>
</html>

<script id="friend_row_template" type="text/x-handlebars-template">
  {{#each friends}}
    <td class="friend_block" data-id={{@key}}>
      <div class="portrait" style="background-image: url({{get_pic_url @key}})"></div>
      <div class="friend_name text_limit text-center">{{first_name}}</div>
    </td>
  {{/each}}
</script>

<script id="friend_block_template" type="text/x-handlebars-template">
  <td class="friend_block" data-id={{@key}}>
    <div class="portrait" style="background-image: url({{get_pic_url @key}})"></div>
    <div class="friend_name text_limit text-center">{{first_name}}</div>
  </td>
</script>

<script id="item_list_template" type="text/x-handlebars-template">
  {{#each items}}
    {{> item_template}}
  {{/each}}
</script>

<script id="item_template" type="text/x-handlebars-template">
  {{#if (user_selected assigned_to)}}
  <li class="list-group-item tab_item selected" data-id={{@key}}>
  {{else}}
  <li class="list-group-item tab_item" data-id={{@key}}>
  {{/if}}
    <div class="row">
      <div class="item_name_block col-xs-5 pdull-left">
        <div class="text_limit fill_width">{{name}}</div>
      </div>
      <div class="col-xs-2 text-right">{{price}}</div>
      <div class="item_assigned_block col-xs-5 pull-right">
      {{#each assigned_to}}
        <div class="small_portrait pull-right" style="background-image: url({{get_pic_url this}})"></div>
      {{/each}}
      </div>
    </div>
  </li>
</script>

<script id="paid_user_list_template" type="text/x-handlebars-template">
  {{#each users}}
    {{> paid_user_entry_template}}
  {{/each}}
</script>

<script id="paid_user_entry_template" type="text/x-handlebars-template">
  <li class="user_entry list-group-item" data-id={{@key}}>
    <div class="row">
      <div class="col-xs-2">
        <div class="small_portrait pull-left" style="background-image: url({{get_pic_url this}})"></div>
      </div>
      <div class="col-xs-6">
        <div class="paid_user_name text_limit">{{first_name}} {{last_name}}</div>
      </div>
      <div class="col-xs-4">
        <div class="paid_indicator_block">
        {{#if (check_paid this ../paid_users)}}
          <i class="paid_icon fa fa-check text_green"></i>
          <div class="paid_text text_green">Paid</div>
        {{else}}
          <i class="paid_icon fa fa-circle-o pull-right text_red"></i>
          <div class="paid_text pull-rsight text_red">Waiting</div>
        {{/if}}
        </div>
      </div>
    </div>
  </li>
</script>

<script id="add_friends_template" type="text/x-handlebars-template">
  {{#each friends}}
    <div class="list-group">
      <a href='#' class='list-group-item js-add-friend'>
        <div class="row">
          <div class="col-xs-2">
            <div class="small_portrait pull-left" style="background-image: url({{get_pic_url @key}})"></div>
          </div>
          <div class="col-xs-8">
            <span class="text-center js-friend" data-id={{@key}} data-name={{name}}>{{name}}</span>
          </div>
          <div class="col-xs-2">
            <i class="friend_add_icon fa fa-check text_green"></i>
          </div>
        </div>
      </a>
    </div>
  {{/each}}
</script>

<script id="new_tab_template" type='text/x-handlebars-template'>{{user_name}}</script>

<script id="friend_block_template" type="text/x-handlebars-template">
  {{#each friends}}
    <td class="friend_block">
      <img src="/static/img/face.jpeg" width='50px' height='50px'>
      <div class="friend_name text-center">{{name}}</div>
    </td>
  {{/each}}
</script>

<script id='add_friends_template' type='text/x-handlebars-template'>
  <table>
    {{#each friends}}
      <div class='list-group friend_block'>
        <a href='#' class='list-group-item js-add-friend'>
          <span class="text-center js-friend" data-id={{@key}} data-name={{name}}>{{name}}</span>
          <span class='glyphicon glyphicon-ok-circle'></span>
        </a>
      </div>
    {{/each}}
  </table>
</script>    

{% endraw %}
